

body{
background-color: #336699;
margin-left: 100px;
margin-right:100px;
}


.main-text{
margin-left: 230px;
margin-right:269px;
border-width: 0px  0px 0px 0px;
background-color: #cccccc;
padding-left:10px;
border-radius:5px;
}


#a{
	margin-left:220px;
	margin-right:220px;
	
	
}
#b{
	margin-left:220px;
	margin-right:220px;
}
#c{
	margin-left:220px;
	margin-right:220px;
}
	
	
#m1{

	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m2{
	
	background-color: #ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m3{
	
	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m4{
	
	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m5{
	
	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m6{
	
	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m7{

	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m8{
		
	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:65px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}
#m9{
		
	background-color:#ffffff;
	border-width: 0px 0px 0px 0px;
	border-radius:30px;
	padding-right:100px;
	padding-left:100px;
	padding-top:50px;
	float:left;
	margin: 2px;
}

